@mixin full-screen {
  width: 100%;
  height: 100%;
}

html {
  @include full-screen();
}

body {
  @include full-screen();
  background-color: $background-color;
  padding: 0;
  margin: 0;

  > div {
    @include full-screen();
  }
}

.app {
  @include full-screen();
  display: flex;
  flex-direction: column;
}

.menu {
  flex: 0 auto;
  margin: 10px;
}

.animated {
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.dots {
  flex: 1;
  position: relative;
  margin: 30px 30px;

  &.animated {
    animation-duration: 4000ms;
    &.rotating-line {
      animation-direction: normal;
      animation-timing-function: linear;
      animation-name: rotating;
    }
    &.rotating-square {
      margin-top: 100px;
      animation-direction: normal;
      animation-timing-function: linear;
      animation-name: rotating;
    }
  }

  &.rotating-square {
    flex: none;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  > .dot {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $dot-color;
    width: $dot-size;
    height: $dot-size;
    border: 0;
    border-radius: $dot-size / 2;

    &.animated {
      &.vertical {
        animation-name: vertical;
      }

      &.horizontal {
        animation-name: horizontal;
      }

      &.diagonal {
        animation-name: diagonal;
      }

      &.diagonal-reversed {
        animation-name: diagonal-reversed;
      }

      &.marcin {
        animation-name: marcin;
      }
    }

    &.rotating-line {
      top: 50%;
    }
  }
}