$background-color: #000;
$dot-color: #fff;
$dot-size: 10px;
$dot-count: 12;

$view-size: 100px;
$size: $view-size/3;
$sides: 6;
$dots: 12;
$length: 100;//2*$size*tan(180deg/$sides);
$speed: .75s;
$detail: 5;
$start: 30%;
$start_val: 30;
$delay: 10%;